header {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 60, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 30px;
}
.flex,
.row {
  display: flex;
  margin: -10px;
}
.col {
  padding: 10px;
  flex: 1;
}
.header-top {
  display: flex;
  justify-content: space-between;
  color: white;
}
.header-top a {
  color: inherit;
}
header h3 {
  margin-top: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  text-transform: capitalize;
}

nav a:hover {
  color: white;
}
.box {
  background-color: grey;
  height: 100px;
}
